{% extends 'ChatTick/_base.html' %}
{% load static %}
h1>h2>h3>h4>h5
{% block title %}

    <title>
        تیک، با تیک پیام هایت را تیک بزن
    </title>
{% endblock %}
{% block outContainer %}
    <img src="{% static 'accounts/img/Choob.jpg' %}" class="myImage"
         alt="پیام رسان تیک" title="پیام رسان تیک">
{% endblock %}
{% block main %}
    <br><br>
    <br>
    <div class="row">
        <div class="well alert alert-success" style="direction: rtl; text-align: center">
            <div class="well-header">
                <h2>بستری مطمئن</h2>
            </div>
            <div class="base-well" style="display: flex">
                <div class="well-text col-md-8" style="direction: rtl; text-align: right;display: flex">
                    سلام به شما !<br>بجه های تولید این پیامرسان تلاش های بسیاری برای تولید این پیامرسان مسخره کرده اند
                    پس ما
                    را در ادامه این مسیر بزرگ و طولانی یاری کنید تا ما بتوانیم خود را توسعه داده و خدمات خود
                    را برای شما عزیزان گسترس داده تا بستری مفره برای شما و خانواده اتان ایجاد کرده باشیم .
                    <br><br>
                    با تشکر مدیر تیک


                </div>
                <div class="well-img col-4" style="display: flex">
                    <img src="{% static 'accounts/img/companies.png' %}" class="img-thumbnail" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="well alert alert-danger" style="direction: rtl; text-align: center">
            <div class="well-header">
                <h2>امکانات بی نظیر</h2>
            </div>
            <div class="base-well" style="display: flex">
                <div class="well-text col-md-12" style="direction: rtl; text-align: right;display: flex">
                    سلام به شما !<br>بجه های تولید این پیامرسان تلاش های بسیاری برای تولید این پیامرسان مسخره کرده اند
                    پس ما
                    را در ادامه این مسیر بزرگ و طولانی یاری کنید تا ما بتوانیم خود را توسعه داده و خدمات خود
                    را برای شما عزیزان گسترس داده تا بستری مفره برای شما و خانواده اتان ایجاد کرده باشیم .
                    <br><br>

                    سلام به شما !<br>بجه های تولید این پیامرسان تلاش های بسیاری برای تولید این پیامرسان مسخره کرده اند
                    پس ما
                    را در ادامه این مسیر بزرگ و طولانی یاری کنید تا ما بتوانیم خود را توسعه داده و خدمات خود
                    را برای شما عزیزان گسترس داده تا بستری مفره برای شما و خانواده اتان ایجاد کرده باشیم .
                    <br><br>
                    با تشکر مدیر تیک


                </div>

            </div>
            <div class="well-img col-md-12" style="display: flex">
                <img src="{% static 'accounts/img/desk-bottom.png' %}" class="col-md-12" alt="">
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="download" class="well alert alert-warning" style="direction: rtl; text-align: center">
            <div class="well-header">
                <h2>ارتباط من</h2>
            </div>
            <div class="base-well" style="display: flex">
                <div class="well-text col-md-12" style="direction: rtl; text-align: right;display: flex">
                    برای ارتباط ما شما میتوانید نرم افزار های ما را در ویندوز ، مک ، لینوکس ، اندروید ، آی او اس و ..
                    (که نمیدونم) دانلود کرده و به سختی نصب کنید . برای این کار به لینک زیر مراجعه نکنید همین جا دانلود
                    کنید.

                </div>

            </div>
            <a class="btn btn-light">
                <img src="{% static 'accounts/img/windows.PNG' %}" width="50px" height="auto">
            </a>
            <a class="btn btn-light">
                <img src="{% static 'accounts/img/android-nxk5c81siue6tv9iem2qhmfwqop32482xv21aidn28.png' %}"
                     width="50px" height="auto">
            </a>
            <a class="btn btn-light">
                <img src="{% static 'accounts/img/apple-nxk5cbt5a6jc4b41snp8rlhr486jwwn0adnz7m82dc.png' %}" width="50px"
                     height="auto">
            </a>
            <a class="btn btn-light">
                <img src="{% static 'accounts/img/mac.jfif' %}" width="50px" height="auto">

            </a>
            <a class="btn btn-light">
                <img src="{% static 'accounts/img/linux.jfif' %}" width="50px" height="auto">

            </a>
            <div class="well-img col-md-12" style="display: flex">
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
{% endblock %}
